<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portal</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/materialize/css/materialize.css" asp-append-version="true" />
</head>
<body>
    <header>
        @await Html.PartialAsync("/Views/Shared/Partial/_Menu.cshtml", (Portal.Models.DtoModels.ParametersDto)ViewBag.Parameters)
    </header>
    <main role="main" class="pb-3">
        @await Html.PartialAsync("/Views/Shared/Partial/_Header.cshtml", (Portal.Models.DtoModels.ParametersDto)ViewBag.Parameters)
        <partial name="_Notification" />
        @RenderBody()
    </main>
    <footer class="orange darken-2">
        @await Html.PartialAsync("/Views/Shared/Partial/_Footer.cshtml", (Portal.Models.DtoModels.ParametersDto)ViewBag.Parameters)
    </footer>
    <!--  Scripts-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/lib/materialize/js/materialize.js"></script>
    <script src="~/lib/materialize/js/init.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <script>
        mainPageGallery();
        messageCharLimit();
        counters();
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>