@model Portal.Models.DtoModels.BlogSectionDto

<div class="row">
    <h3 class="center orange-text text-darken-2"><span> @Model.ParametersDto.Parameters.Find(key => key.Key.Equals("Tytuł sekcji aktualności")).Value </span></h3>
    <div class="row">
        @foreach (var item in Model.Blog)
        {

            <div class="col s12 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="~/lib/img/blog/@item.Picture">
                    </div>
                    <div class="card-content">
                        <span class="card-title">@item.Title</span>
                        <p>
                            @item.Description
                        </p>
                    </div>
                    <div class="card-action">
                        <a class="btn-large waves-effect waves-light" id="btn-blog" asp-controller="Blog"
                       asp-action="Details" asp-route-id="@item.Id">Czytaj więcej</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row center">
        <div class="col s12">
            <a asp-controller="Blog" asp-action="Index" class="btn-main-page btn-large waves-effect waves-light orange darken-2">Wszystkie aktualności</a>
        </div>
    </div>
</div>